*, *::before, *::after {
	box-sizing: border-box;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 4rem;
	display: grid;
	justify-content: center;
	font-weight: bold;
	padding: 20px;
}

body {
	padding: 0;
	margin: 0;
	background: #DDA0DD;
}

.container {
	display: grid;
	grid-template-columns: 1fr 2fr; /*1 fraction and 2 fractions of the page */
}

.options-interface {
	display: grid;
	flex-direction: column;
	justify-content: center;
	margin-left: 100px;
	align-items: center;
	min-height: 100vh; /* make the objects fill 100% of the height all the time */
}

.options-interface > button {
	cursor: pointer;
	font-size: 1rem;
	border: 2px solid rgba(0, 0, 0, .75);
	outline: none;
	background: rgba(152, 251, 152, .85);
}

.options-interface > button:hover {
	background: rgba(152, 251, 152, .70);
}

.options-interface > input {
	border-radius: 50%;
}


/* style the canvas-grid */
:root {
	--grid-cols: 1;
	--grid-rows: 1;
}
  
#canvas-grid {
	display: grid;
	grid-template-rows: repeat(var(--grid-rows), 1fr);
	grid-template-columns: repeat(var(--grid-cols), 1fr);
	margin-right: 50px;
	width: 500px;
	height: 500px;
	background: rgb(255, 255, 255, .9)
}
  
.grid-item {
	padding: 1em;
	/* border: 1px solid #ddd; */
	text-align: center;
	background: rgb(255, 255, 255, .9);
}


/* style the range slider */
.slidecontainer {
	width: 100%; /* Width of the outside container */
}
  
/* The slider itself */
.slider {
-webkit-appearance: none;  /* Override default CSS styles */
appearance: none;
width: 100%; /* Full-width */
height: 25px; /* Specified height */
background: rgba(152, 251, 152, .85); 
outline: none; /* Remove outline */
opacity: 0.85; /* Set transparency (for mouse-over effects on hover) */
-webkit-transition: .2s; /* 0.2 seconds transition on hover */
transition: opacity .2s;
border: 2px solid rgba(0, 0, 0, .75);
}

/* Mouse-over effects */
.slider:hover {
opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
-webkit-appearance: none; /* Override default look */
appearance: none;
width: 25px; /* Set a specific slider handle width */
height: 25px; /* Slider handle height */
background: black; /* Green background */
cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
width: 25px; /* Set a specific slider handle width */
height: 25px; /* Slider handle height */
background: #04AA6D; /* Green background */
cursor: pointer; /* Cursor on hover */
}
  